
body{
  background-color: black !important;
}

.img{
      justify-content: center;
}

p{
  color: whitesmoke;
}

h1{
  color: white !important;
  
}

h2{
  color: white !important;
}
h3{
  color: white !important;
}

.footerss{
  color: white;
}
.instagram{
  padding-right: 10px;
}